.page-index{
    a{
        background-image: linear-gradient(to left, blue, red 25%, blue 50%, red 75%, blue 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        animation: streamer 1s infinite linear;
    }

    @keyframes streamer {
        0%  {
            background-position: 0 0;
        }
        100% {
            background-position: -100% 0;
        }
    }
}