.userControl {
    float: right;

    a{
        color: #FFF;
    }
    ul li {
        transition: all .2s;
        
    }
    ul li:hover {
        background-color:#FFF;
        color:  #00bcd4;
    }
}

@media screen and (max-width: 414px) {
    .userControl {
        float: none;    
    }
}

:global {
    header ul a.active li {
        background-color:#FFF;
        color:  #00bcd4;
    }
}