.diarySummary {
    margin-bottom: 20px;
}

.diaryItem{
    margin-bottom: 20px;
    border: 1px dashed #CCC;
    padding: 20px;
    position: relative;
    line-height: 1.4;
    overflow: hidden;
    .view {
        min-height: 1em;
        p {
            margin-bottom: 5px;
        }
    }

    .meta {
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-align: right;
        .tag{
            padding: 2px 8px;
            line-height: 20px;
            margin-left: 8px;
            border-radius: 4px;
        }
    }
    .time {
        color: #999;
        line-height: 20px;
        margin-right: 4px;
    }
}

@media screen and (max-width: 414px) { 
    .diaryItem {
        padding-bottom: 50px;
        padding: 1em;    
        
        .meta {
            position: static;    
            margin-bottom: -5px;
            .tag {
                display: inline-block;
                text-align: left; 
                margin-bottom: 5px;   
                vertical-align: middle;
            }
        }
    }
}