body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper{
  width: 1200px;
  margin: auto;
}
.page-park{
  padding-top: 20px;
}
.park-item{
  margin-bottom: 20px;
}
a,a:focus{
  text-decoration: none;
}
.header-tip{
  margin-bottom: 20px !important;
  font-size: 15px;
  text-shadow: 0px 0px 3px #CCC;
}
.layout{
  background-color: #FFF;
}
.content{
  min-height: 500px;
}
footer{
  text-align: center;
  line-height: 2;
}
header{
  padding: 0 20px;
  height: 70px;
  line-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  background-color: rgb(0, 188, 212);
  color: #FFF;
  font-size: 16px;
  z-index: 5;
}
  header .copy{
    display: inline-block;
    font-size: 24px;
  }
header ul{
    float: right;
    margin: 0;
  }
  header ul li{
    list-style: none;
    display: inline-block;
    width: 100px;
    text-align: center;
    cursor: pointer;
  }
  header .copy a,header .copy a:visited,header .no-login a{
    color: #FFF;
  }

  header .ant-menu{
    line-height: 68px;
    background-color: transparent;
  }
  header .ant-menu .ant-menu-submenu-title{
    color: #FFF;
  }
  .page{
    background-color: #FFF;
    padding: 24px;
  }

.page-login .login-form{
    max-width: 300px;
}

.page-reg .reg-form{
    max-width: 300px;
}

/* fix */
/*.ant-menu-horizontal{
    color: #FFF;
    background-color: transparent;
    border: 0;
}
.ant-menu-horizontal > .ant-menu-submenu:hover {
    color: #FFF;
    border: 0;
}
.ant-menu-submenu-active, .ant-menu-submenu-title:hover{
  color: #FFF;
}*/