:global {
    *{ margin: 0; padding: 0;}

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        font-size: 12px;
    }

    .wrapper{
        width: 1200px;
        margin: auto;
        padding: 24px 0;
    }

    footer{
        text-align: center;
        line-height: 2;
    }

    header{
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        background-color: rgb(0, 188, 212);
        color: #FFF;
        font-size: 16px;
        z-index: 5;
    }
    header .copy{
        display: inline-block;
        font-size: 24px;
    }
    header ul{
        float: right;
        margin: 0;
    }
    header ul li{
        list-style: none;
        display: inline-block;
        width: 100px;
        text-align: center;
        cursor: pointer;
    }
    header .copy a,header .copy a:visited,header .no-login a{
        color: #FFF;
    }

}