:global {
    *{ margin: 0; padding: 0; box-sizing: border-box; }
    a { text-decoration: none; }
    video, audio, img { max-width: 100%; }
    .fontType {
        font-family: 'nano', 'HeiTi', sans-serif;
        font-size: 15px;
        // font-weight: 300;        
    }
    body {
        @extend :global .fontType;

        margin: 0;
        padding: 0;
        // color: rgba(0, 0, 0, 0.65);
    }
    input, textarea, select, button{
        @extend :global .fontType;
    }

    .wrapper{
        margin: auto;
        padding: 24px;
        min-height: 500px;
    }

    footer{
        text-align: center;
        line-height: 2;
        border-top: 1px dashed rgba(0,0,0,.03);
        padding-top: 20px;
    }

    header{
        padding: 0 20px;
        height: 70px;
        line-height: 70px;
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
        background-color: rgb(0, 188, 212);
        color: #FFF;
        font-size: 16px;
        z-index: 5;
    }
    header .copy{
        display: inline-block;
        font-size: 24px;
    }
    header ul{
        float: right;
        margin: 0;
    }
    header ul li{
        list-style: none;
        display: inline-block;
        width: 100px;
        text-align: center;
        cursor: pointer;
    }
    header .copy a,header .copy a:visited,header .no-login a{
        color: #FFF;
    }

    .marked-view{
        p {
            margin-bottom: 1em;
        }
    }

}

:global {
    @media screen and (max-width: 768px) {
        .wrapper {
            width: auto;
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    @media screen and (max-width: 414px) {
        header {
            height: auto;
            ul {
                float: none;
                li {
                    width: 33.3%;
                }
            }
        }
    }    
}

// 来自张鑫旭，放止 scroll 导致的页面跳动
html {
  overflow-y: scroll;
}

:root {
  overflow-y: auto;
  overflow-x: hidden;
}

:root body {
  position: absolute;
}

body {
  width: 100vw;
  overflow: hidden;
}