body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper{
  width: 1200px;
  margin: auto;
}
.page-park{
  padding-top: 20px;
}
.park-item{
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}
.header-tip{
  margin-bottom: 20px !important;
}